rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        (request.auth.token.email_verified == true && request.auth.token.email in [
          'vishal.bhutekar1@gmail.com',
          'vishalbhutekar33772@gmail.com',
          'admin@mycodecalendar.app',
          'admin@codecalendar.com'
        ]) || request.auth.token.admin == true
      );
    }

    match /cms_images/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 5 * 1024 * 1024; // 5MB max
    }
  }
}
