*.iml
.gradle
.kotlin
/local.properties
.idea
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Google Services & Secrets
google-services.json
**/google-services.json
*.keystore
*.jks

